<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/partials/partial.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/order.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/navbar-color.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/partials/crumbread.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/partials/personMenu.css">
<script src="/js/orderJS.js" type="text/javascript"></script>
</head>
<body>
	<% include partials/navbar%>
	<% include partials/crumbread%>

	<div class="container">
		<div class="row">
			<% include partials/personMenu%>
			<div class="col-md-9">
				<div class="section">
					<h4 id="bookListHeader"><i class="fas fa-clipboard-list"></i> Manage Orders</h4>
					<div>
						<p><span class="filter all"><i class="fas fa-filter"></i> all</span> - <span>completed</span> - <span>working</span> - <span>cancelled</span></p>
					</div>
				</div>
				<div class="row rowHeader">
					<div class="col-md-2">
						<p>Order serial</p>
					</div>
					<div class="col-md-4">
						<p>Books</p>
					</div>
					<div class="col-md-2">
						<p>Date created</p>
					</div>
					<div class="col-md-2">
						<p>Total price</p>
					</div>
					<div class="col-md-2">
						<p>Status</p>
					</div>
				</div>
				<% for(var i = orders.length - 1; i >= 0; i--) {%>
				<div class="row rowOrder">
					<div class="col-md-2">
						<a href="/order/<%=orders[i]._id%>">#KB<%=(orders[i]._id).toString().substring(0, 5)%></a>
					</div>
					<div class="col-md-4">
						<p><%=(details[i])[0].book.name%>...and <%=(details[i]).length - 1%> other product(s)</p>
					</div>
					<div class="col-md-2">
						<p><%=orders[i].dateCreated.getDate()%>/<%=orders[i].dateCreated.getMonth()+1%>/<%=orders[i].dateCreated.getFullYear()%></p>
					</div>
					<div class="col-md-2">
						<p>$<%=orders[i].money%></p>
					</div>
					<%if (orders[i].status === "Working") {%>
					<div class="col-md-2">
						<p class="working"><i class="fas fa-truck"></i> Working</p>
					</div>
					<%} else if(orders[i].status === "Completed") {%>
					<div class="col-md-2">
						<p class="completed"><i class="fas fa-flag-checkered"></i> Completed</p>
					</div>
					<%} else {%>
					<div class="col-md-2">
						<p class="cancelled"><i class="fas fa-ban"></i> Cancelled</p>
					</div>
					<%}%>
				</div>
				<%}%>
				<% if(orders.length > 5){ %>
				<ul class="listPage">
					<li class="page active"><a href="#">1</a></li>
					<li class="page"><a href="#">2</a></li>
					<li class="page"><a href="#">3</a></li>
					<li class="page"><a href="#">4</a></li>
					<li class="page"><a href="#">5</a></li>
				</ul>
				<%}%>
			</div>
		</div>
		<div class="space"></div>
	</div>

	<% include partials/footer %>
</body>
</html>	