<% include partials/header %>
<link rel="stylesheet" href="/stylesheet/partial.css">
<link rel="stylesheet" href="/stylesheet/store.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/storeJS.js"></script>
<link rel="stylesheet" href="/stylesheet/home-animation.css">
</head>
<body>
	<% include partials/navbar%>

	<div class="container-fluid">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-content">
						<img src="\image\recommend2.jpg" class="imgSlider" alt="Chania">
						<div class="container event-first">
							<div class="event-first-content">
								<h4 class="fadeInDown_recommend">Agatha Christie</h4>
								<h2 class="fadeInLeft_custom">And Then There Were None</h2>
								<h3 class="fadeInLeft_custom">90.000đ <span class="first-sale">120.000</span> <span class="first-discount">-30%</span></h3>
								<button class="fadeInUp_recommend">View Now</button>	
							</div>
							<img src="/image/book14.jpg" class="book-first fadeInRight_recommend_b1">
							<img src="/image/back1.jpg" class="book-first second fadeInRight_recommend_b2">
						</div>	
					</div>
				</div>
			</div>

			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="crumbread-bg">
			<div class="container">
				<div class="below-content">
					<h4 class="btn-watched">Watched Books <i class="fas fa-angle-down view-icon"></i></h4>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i> Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Store</li>
						</ol>
					</nav>
				</div>
				<div class="col-md-2 each-watched hide-watched">
					<img src="/image/book1.jpg" class="watched-book ">
				</div>
				<div class="col-md-2 each-watched hide-watched">
					<img src="/image/book2.jpg" class="watched-book ">
				</div>
				<div class="col-md-2 each-watched hide-watched">
					<img src="/image/book3.jpg" class="watched-book">
				</div>
			</div>
		</div>
	</div>

	<div class="container content">
		<div class="row">
			<div class="col-md-5 remove-pad">
				<div class="eve-content upcoming-content-bg">			
					<div class="upcoming-layout">
						<h2 class="upcoming-content">Upcoming books</h2>
						<p class="upcoming-des">Calendar of upcoming books on Kafka Stores and pre-order</p>
					</div>
				</div>
			</div>
			<div class="col-md-7 remove-pad">
				<div class="eve-content recommend-bg">		
					<h2 class="upcoming-content">Kafka Recommends</h2>
					<p class="recommend-des">Calendar of upcoming books on Kafka Stores and pre-order</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container content">
		<div class="col-md-3 category-design">
			<div class="category-list">
				<h4 class="category"><i class="fas fa-list-ul cate-icon"></i> Book Category</h4>
				
				<ul class="listGenre">
					<li><a href="#">All</a></li>
					<li><a href="#">Fantasy & Sci-Fi</a></li>
					<li><a href="#">Art & Photography</a></li>
					<li><a href="#">Cooking, Food & Wine</a></li>
					<li><a href="#">Literature & Fiction</a></li>
					<li><a href="#">Science & Education</a></li>
					<li><a href="#">Audiobooks</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Childer's Book</a></li>
					<li><a href="#">Biographies & Memoirs</a></li>
				</ul>

				<h4 class="category"><i class="far fa-eye cate-icon"></i> Book Comparison</h4>
				<p class="no-compare">You have no item to compare</p>


				<h4 class="category"><i class="fas fa-hand-holding-usd cate-icon"></i> Book Price Range</h4>
				<p class="price-filter">Range: <span class="start">0.00</span> - <span class="end">0.00</span></p>
				
				<div class="price-bar">
					<div id="slider-range"></div>	
				</div>

				<form class="price-range">
					<div class="form-group">
						<input type="text" name="start" placeholder="0" class="form-control">
					</div>
					<p class="toPrice"> - </p>
					<div class="form-group">
						<input type="text" name="end" placeholder="0" class="form-control">
					</div>
				</form>

				<button class="range-button"><i class="far fa-check-circle"></i> Confirm</button>

				<h4 class="category"><i class="fas fa-user-circle cate-icon"></i> Authors</h4>

				<ul class="listGenre">
					<li><a href="#">Douglas Kenedy</a></li>
					<li><a href="#">J.K. Rowling</a></li>
					<li><a href="#">Suzanne Collins</a></li>
					<li><a href="#">George Simeone</a></li>
					<li><a href="#">Patrick Modiano</a></li>
					<li><a href="#">Jeanne DuPrau</a></li>
					<li><a href="#">Lois Lowry</a></li>
					<li><a href="#">Agatha Christie</a></li>
					<li><a href="#">Childer's Book</a></li>
					<li><a href="#">Biographies & Memoirs</a></li>
				</ul>
			</div>
		</div>	

		<div class="col-md-9 content-design">
			<h4 class="category"><i class="fas fa-book-open cate-icon"></i> Book showncase</h4>

			<div class="row rowBook text-center">
				<% list.forEach(function(book){ %>
				<div class="col-sm-6 col-md-4">
					<div class="book-info">
						<div class="onBook">
							<div class="interact">
								<p class="rate"><i class="fas fa-star"></i> <%=book.rating%>/5</p>
								<button class="btn_cart" onClick="addToCart('<%=book._id%>')"><i class="fas fa-shopping-cart"></i></button>
								<button class="btn_wishList"><i class="far fa-heart"></i></button>
							</div>
							<img src="<%=book.image%>" class="img-responsive arrival-book-model" alt="Image">
						</div>
						<a href="/store/<%=book._id%>" class="bookLink"><p class="book"><%=book.name%></p></a>
						<p class="author"><%=book.author.name%></p>
						<p class="price">$<%=(book.price*(100 - book.discount)/100).toFixed(2)%>
							<% if(book.discount != "0"){ %>
							<span class="sale"><%=book.price%></span> 
							<span class="discount">-<%=book.discount%>%</span>	
							<% } %> 
						</p>
					</div>
				</div>	
				<% }) %>	          		                 
			</div>

			<hr>

			<ul class="listPage">
				<li class="page active"><a href="#">1</a></li>
				<li class="page"><a href="#">2</a></li>
				<li class="page"><a href="#">3</a></li>
				<li class="page"><a href="#">4</a></li>
				<li class="page"><a href="#">5</a></li>
			</ul>            
		</div>
	</div>

	<% include partials/footer %>

</body>
</html>